@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.padding {
  padding: 0 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  font-weight: bold
}

li{
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.logo-dc {
  width: 4rem; 
  height: auto; 
}