@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.style {
  list-style-type: none;
  display: flex;
  font-weight: bold
}



li{
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.logo-dc {
  width: 4rem; 
  height: auto; 
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.dimension{
  width: 3.4rem; 
  height: auto; 

}

.backround {
  background-image: url('/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.backround-logo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
}

.image-dimension{
  height: 1.6rem;
}